:root {
  --text-color: #1e1e1e;
  --placeholder-color: #1e1e1e;
  --background-color: #ffffff;
  --background-alternative-color: #F2F2F2;
  --primary-color: #fe5e41;
  --alternative-color: #00A878;
  --input-background-color: #F2F2F2;
  --select-label-color: #6E6E6E;
  --border-color: #DEDEDE;
  --checkbox-border-color: #BDBDBD;
}
