:root {
  --text-color: #1e1e1e;
  --placeholder-color: #1e1e1e;
  --background-color: #ffffff;
  --background-alternative-color: #f2f2f2;
  --primary-color: #fe5e41;
  --outline-primary-color: #fe5d4185;
  --alternative-color: #00a878;
  --outline-alternative-color: #00a8788d;
  --input-background-color: #f2f2f2;
  --select-label-color: #6e6e6e;
  --border-color: #dedede;
  --checkbox-border-color: #bdbdbd;
  --form-field-border-radius: 4px 4px 0px 0px;
}
